body{
    background-color: #f2f3f4;
    margin: 0;
    padding:0;
    max-height: 100vh;
}

/*Home page*/ 

.h-background{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;   
}

.h-wrapper{
    position: relative;
    top: 40vh;
    background: #f2f3f40e;
}
.h-content{
    position: relative;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: .5vh;
    right: 7vw;
}

#h-dropbtn{
    padding:inherit;
}
.h-btn, .h-btn:visited, .h-btn:hover, .h-btn:active{
    color: #28282B;
    text-decoration: none;
}

#h-name{
font-family: 'Bebas Neue', cursive;
font-size: 10vw;
letter-spacing: 3px;
margin: 0;
padding: 0;
color: #28282B;
}


.h-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: relative;
    right: 5vw;
  }

#h-navbtn{
    border: none;
    background: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    letter-spacing: 1px;
    color: #28282B;
}

.h-about{
    margin-top: 1.5vh;
}

.h-about:hover .h-btn{
    color: #f2f3f4;
}

.h-dropmenu{
    display: flex;
    align-items: center;
    position: relative;
}

#h-ul{
    display:flex;
    transition: all 0s ease 0.5s;
    visibility: hidden;
    position:absolute;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.h-links{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    letter-spacing: 1px;
    padding: 10px 4px 10px;
    position: relative;
    right: 50px;
    background-color: #f2f3f4;
}

.h-dropmenu:hover #h-ul{  /*might have to JS here to get the open on click now hover */
    visibility: visible;
    transition-delay: 0s;
}

.h-links:hover{
    background-color: #28282B;
}
.h-links:hover  .h-btn{
    color: #f2f3f4;
}

/*General site header*/ 
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: #28282B;
    width: 100%;
}

#name{
margin-left: 5%; /*Check back on this after I load actual pics to see how the spacing feels */
padding: 0;
font-family: 'Bebas Neue', cursive;
font-size: 5vh;
letter-spacing: 1px;
}

#name:hover{
    cursor: pointer;
}

.rightheader{
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  padding: 0;
  position: relative;
}

.about{
    margin-left: 65px;
}
#navbtn{
    border: none;
    background: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    letter-spacing: 1px;
    color: #28282B;
}

.about:hover{
    cursor: pointer;
    color: #28282B
}

.btn, .btn:visited, .btn:hover, .btn:active{
    color: #28282B;
    text-decoration: none;
}

.btn{
    padding: 10px 6px;
}
.links a{
   display: block;
}
.links:hover{
    background-color: #28282B;
}

.links:hover .btn{
    color: #f2f3f4;
}


.dropmenu{
    position: relative;
    display: flex;
    flex-direction: column;
}

.ul{
    display:block;
    transition: all 0s ease .5s;
    visibility: hidden;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 2vh;
    z-index: 1;
    background-color:#e4e6e78f;

    /*box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2); Do some variation of this for my drop down*/
}

.links{
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0;
    position: relative;
}

.dropmenu:hover .ul{ 
    transition-delay: 0s;
    visibility: visible;
}


/*About page*/

.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}


#pic{
    height:65vh;
    border: solid 1px #28282B;
    margin: 0 5% 0 5%;
}

#right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    border-left: solid 1px;
    
}


p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size : clamp(1rem, 2vw, 5rem);
    font-weight: 400;
    width: 80%;
    height: 50%;
}


#ig{
    margin-top: 10px;
    color:#28282B;
}
#horiline{
    position: relative;
    top: 15px;
    width: 70%;
    border-bottom: solid 1px #28282B;
}

/*contact*/

span{
    color:#28282B;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 2px;

}

/*photo pages*/

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.pics{
    padding: 0;
    margin:0;
    width: 40%;
}

#firstleftpic{
    position: relative;
    right: 22%;
    margin:  5% 0 0 0;
}


#leftpics{
    position: relative;
    right: 22%;
    bottom: 23vw;
}

#firstrightpic{
    position: relative;
    left: 22%;
    bottom: 18vw;
}
#rightpics{
    position: relative;
    left: 22%;
    bottom: 23vw
}

/*street*/
#street{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
}

.title{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 63%;
    top: 14vw;
}

/*portraits*/
#portraits{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
}

.P-title{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 59%;
    top: 14vw;
}

/*photojournalism*/
#photojourn{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
}

.ph-title{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 14vw;
}