@use '../base/index';

.about-Picture{
    width: 90%;
    @media screen and (min-width: 768px) {
        width: 32%;
      }
}
.aboutText-Wrapper{
    width: 100%;
    p{
        text-align:center;
    }
    @media screen and (min-width: 768px) {
        width: 45%;
        margin: 0;
        padding: 0 2rem;
        p{
            text-align:left;
        }
    }
    // padding: 2rem;
 }
.bio{
    span{
        line-height: 2rem;
        background-color: index.$primary-background-color;
        box-shadow: .25rem 0.25rem  index.$secondary-background-color;
    }
}
.actionCall{
    span{
        box-shadow: .25rem 0.25rem  index.$accent-color;
        background-color: index.$primary-background-color;
        a{
            color: index.$accent-color;
        }
        a:hover{
            color: index.$secondary-text-color;
            background-color: index.$accent-color;
            transition: .5s;
        }
    }
}