@use '../base/index';


.home-Text-Wrapper{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    align-items: center;
    h1, p{
        color: index.$secondary-text-color; 
    }
}

.link-Home:hover{
    p{color: index.$primary-text-color;}
 }


.homeMenu{
    transition: .5s;
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
}
#menuVisible{
    opacity: 1;
    visibility: visible;
}

.btn-Home:hover{
    transition: 0.5s;
    box-shadow: 0rem 0.25rem index.$accent-color;
    p{
        transition: .5s;
        font-size: calc(index.$secondary-heading + .15rem);
        
        @media screen and (min-width: 768px){
            font-size: calc(index.$secondary-heading + 1rem);
        }
        @media screen and (min-width: 1920px){
            font-size: calc(index.$secondary-heading + 1.75rem);
        }
        @media screen and (min-width: 2560px){
            font-size: calc(index.$secondary-heading + 2.75rem);
        }
    } 
}