@use '../base/index';

nav{
    h3, span{
        transition: .5s;
        color: index.$primary-text-color;
    }
    :hover{
        color: index.$accent-color;
    }
}
//mobile
.mobileMenu-Icon{
    transition: all 2s ease;
    @media screen and (min-width: 768px) {
        display: none;
      }
 }
 #mobileMenu-X{
    position: fixed;
    z-index: 1;
    color: index.$secondary-text-color;
    right: 6%;
    top: 2%;
    :hover{
        transition: .25s;
        color: index.$primary-text-color;
    }
 }
 .mobileMenu-Container{
    align-items: center;
    background-color: index.$accent-color;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
    height: 0%;
    p{
        transition: .25s;
        color: index.$secondary-text-color;
    }
    p:hover{
        transition: .25s;
        color: index.$primary-text-color;
    }
    .navBtn{
        transition: all .5s ease-in-out;
        opacity: 0;
        visibility: hidden;     
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
 }
 #mobileMenu-Open{
    height: 100%;
    .navBtn{
        opacity: 1;
        visibility: visible;
    }
 }

.mobileMenu-Content{
    position: absolute;
    top: 30%;
}

.mobile-LinkDropDown-Container{
    transition: all .5s ease;
    height: 0;
    opacity: 0;
    overflow: hidden;
    p{
        padding:1rem;
    }
 }
#mobile-LinkDropDown-Open{
    height: 15rem;
    opacity: 1;
}

.mobile-dropBtn:hover{
    box-shadow: 0rem 0.1rem index.$primary-text-color;
    transition: .5s;
    p{
     transition: .5s;
     font-size: calc(index.$mobile-dropdown-secondary + .25rem);
    }
 }
//web
.webMenu-Container{
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
      }
 }

 .web-Work-Container{
    position: relative;
    @media screen and (min-width: 1440px) {
        margin-right: 2rem;
    }
    @media screen and (min-width: 1920px) {
        margin-right: 3rem;
    }
 }
 .web-LinkDropDown-Container{
    @media screen and (min-width: 768px){
        width: fit-content;
        position: absolute;
        align-items: center;
        top: 100%;
        z-index: 1;
        backdrop-filter: blur(10px);
        background-color:#f2f3f4b3;
        opacity: 0;
        visibility: hidden;
        transition: height .5s ease;
    }
 }
 #web-LinkDropDown-Open{
    transition: opacity 1s ease;
    opacity: 1;
    visibility: visible;
 }

 .dropBtn:hover{
    box-shadow: 0rem 0.1rem #778DA9;
    transition: .5s;
    p{
     transition: .5s;
     @media screen and (min-width: 768px){
         font-size: calc(index.$small-text + .45rem);
     }
     @media screen and (min-width: 1920px){
         font-size: calc(index.$small-text + 1rem);
     }
     @media screen and (min-width: 2560px){
         font-size: calc(index.$small-text + 2rem);
     }
    }
 }