@use '../base/index';

.page-Title{
    color: index.$secondary-background-color;
    position: sticky;
    top: 0%;
    z-index: -1;
    line-height: 1;
    @media (min-width: 768px) {
      position: fixed;
      top: 20%;
    }
  }

.photo{
  width: 100%;
  height: auto;
  margin: 0 0  2rem;
  @media screen and (min-width: 768px) {
  width: 51%;
  //or width 50%ish and height auto?
  margin: 0 0  1rem;
  }
  @media screen and (min-width: 1024px) {
    width: 55%;
    //or width 50%ish and height auto?
    margin: 0 0  1rem;
    }
}
.left{
  align-self: flex-start;
}
.right{
  align-self: flex-end;
}


