@use '../base/index';

.page-Title{
    color: index.$secondary-background-color;
    position: sticky;
    top: 0%;
    z-index: -1;
    line-height: 1;
    @media (min-width: 768px) {
      position: fixed;
      top: 20%;
    }
  }
.photo-content{
  @media screen and (min-width: 1024px) {
  width: 80%;
  }
}
.photo{
  width: 100%;
  height: auto;
  margin: 0 0  2rem;
}
#portrait{
  @media screen and (min-width: 768px) {
    width: auto;
    height: 95vh;
  }
}
#landscape{
  @media screen and (min-width: 768px) {
    width: 100%;
    height: auto;
  }
}
.left{
  align-self: flex-start;
}
.right{
  align-self: flex-end;
}


