@use '@styles/base/index';
@use '@styles/pages';

*{
  box-sizing:border-box;
 }
 html{
     scroll-behavior: smooth;
 }
 body{
    background-color: index.$primary-background-color;
}
    p, h3{
        color: index.$primary-text-color;
    }

 ::-webkit-scrollbar{
     width: .75rem;
 }
 
 ::-webkit-scrollbar-thumb{
     background: index.$secondary-background-color;
     border-radius: 10px;
 }

 button{
    border: none;
    background: none;
    cursor: pointer;
 } 
 
 /*Nav*/ 

 

//  #arrow{
//      font-size: 10px;
//      position: fixed;
//      bottom: 2%;
//      left: 97.7%;
//      cursor: pointer;
//      padding: .6%;
//      background-color: #28282B;
//      border-radius: 20px;
//      color: #f2f3f4;
//  }