
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
 }
 html{
     scroll-behavior: smooth;
 }
 body{
     background-color: #f2f3f4;
 }
 
 .w100{
    width: 100%;
  }
  .h100{
    height: 100%;
  }
  
  .flex{
    display: flex;
  }
  .flex-col{
    display: flex;
    flex-direction: column;
  }
  .flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-row-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

//  ::-webkit-scrollbar{
//      width: 5px;
//  }
 
//  ::-webkit-scrollbar-thumb{
//      background: #28282B;
//      border-radius: 20px;
//  }
 
 
 /*Home page*/ 
 .home-Wrapper{
    height: 100vh;
 }
 
 .link{
     padding:inherit;
     color: #28282B;
     text-decoration: none;
 }
 
 
 .h-btn, .h-btn:visited, .h-btn:hover, .h-btn:active{
     color: inherit;
     text-decoration: none;
 }
 
 #home-Title{
 font-size: 5vw;
 letter-spacing: 3px;
 line-height: 1;
 color: #f2f3f4; 
 }

 .home-Btn{
     border: none;
     background: none;
     padding: 15px;
     font-size: 2vw;
     letter-spacing: 1px;
     color: #28282B;
     cursor: pointer;
 }
 
 .home-Btn:hover{
     color: #f2f3f4;
 }
 

 .menuHidden{
    display: none;
 }
 .menuVisible{
    display: flex;
    position: absolute;
    bottom: 25%;
  
 }

li{
     font-size: 1.5vw;
     letter-spacing: 1px;
     padding: 1rem .5rem;
     background-color: #f2f3f448;
     list-style: none;
 }
 
li:hover{
     background-color: #28282B;
 }
li:hover .link{
     color: #f2f3f4;
 }
 
 /*General site header*/ 
 nav{
     margin: 1.5rem 3rem;
     color: #28282B;
 }
 
 .logo{
 font-size: 4vw;
 letter-spacing: 1px;
 text-decoration: none;
 color: #28282B; 
 }
 

 .dropMenu-Wrapper{
    position: relative;
    margin-right: 2rem;
    width: 5rem;
    align-items: flex-end;

 }
 .navBtn{
    font-size: 2vw;
    letter-spacing: .4px;
    color: #28282B;
    position: relative;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
   
}
.dropMenuVisible{
    position: absolute;
    list-style: none;
    top: 120%;
    left: 0%;
    z-index: 1;
 }
 .dropMenuHidden{
    display: none;
 }

 .dropBtn{
    font-size: 1.5vw;
    width: 100%;
    background-color:#e4e6e78f;
    text-align: end;
    color: #28282B;
    text-decoration: none;
}
.dropBtn:hover{
   background-color: #28282B;
   color: #f2f3f4;
}
 
.aboutContent-Wrapper {
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.aboutText-Wrapper{
    align-items:flex-start;
    width: 50%;
    padding: 2rem;
    color: #28282B;
    border-radius: 10px;
 }
 p{
    font-size: 1.5rem;
    text-align:start;
 }
span{
    line-height: 2rem;
    background-color: #f2f3f4;
    box-shadow: .25rem 0.25rem  #28282be6;
}

.actionCall{
    span{
        box-shadow: .25rem 0.25rem  #EB5E28;

        a{
            color: #EB5E28;
            text-decoration: none;
        }
        a:hover{
            color: #f2f3f4;
            background-color: #EB5E28;
            transition: .5s;
        }
    }
}
 
 #ig{
     color:#28282B;
 }
 
 /*contact*/
 
 
 /*photo pages*/
 
 .content{
    position: relative;
 }
 
 
 
//  #arrow{
//      font-size: 10px;
//      position: fixed;
//      bottom: 2%;
//      left: 97.7%;
//      cursor: pointer;
//      padding: .6%;
//      background-color: #28282B;
//      border-radius: 20px;
//      color: #f2f3f4;
//  }

 
 /*portraits*/

 .photoPageTitle{
    width: 100%;
    font-size: 33rem;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 10%;
    // right: 10%;
    // top: 12rem;
    z-index: -1;
    color:#28282B;
 }

 
 
 @media (min-width:01px) and (max-width:480px){
     .h-background{
         height: 90vh;
         width: 90vw;
         margin: 10% auto;
     }
     #h-name{
         font-size: 14vw;
         letter-spacing: 2px;
         }
 
     #h-navbtn{
         font-size: 6vw;
         letter-spacing: 1px;
     }
 
     .h-links{
         font-size: 4vw;
         letter-spacing: 1px;
         padding: 6px 4px 6px;
     }
 
     #name{
         font-size: 6.5vw;
         margin-left: 3vw;
     }
     .navbtn{
         font-size: 3.5vw;
     }
     .dropbtn{
         font-size: 3vw;
         padding: 10px 5px 10px;
     }
 
     .rightheader{
         margin-right: 2%;
     }
 
     .main-content{
         flex-direction: column;
         height: 90vh;
         margin: 2% auto;
     
     }
     
     
     #pic{
         height:53vh;
         margin: 0 5%;
     }
 
     #right-content{
         width: 90%;
         margin: 0;
     }
 
     p{
         width: 95%;
     }
     
 
     .pics{
         width: 95%;
     }
 
     #firstleftpic{
         right: 0%;
         margin:  15% 0 5%;
     }
     
     
     #leftpics, #firstrightpic, #rightpics{
         position: relative;
         right: 0%;
         left:0%;
         bottom: 0;
         margin: 0 0 5%;
 
     }
     
     #arrow{
         font-size: 12px;
         left: 95.5%;
         bottom: .5%;
     }
     .title, .P-title, .pl-title{
         left: 5%;
         top: 13vw;
         letter-spacing: 10px;
         margin-top: 5%
     }
 
 }
 
 @media (min-width:481px) and (max-width:687px){
    
 #pic{
     height: 50vh;
 }
 
     P{
         width: 95%;
     }
 
     #arrow{
         left: 97.3%;
     }
 
 }
 
 
 /*consider lazy loading images*/
