$gutter: 1.25rem;
$btn-Margin-Horizontal: 0 1rem;
$btn-Margin-Vertical: .25rem 0rem;
$btn-Padding-Rectangle: .5rem 1rem;

*{
  margin:0;
  padding: 0;
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.flex{
  display: flex;
}
.flex-responsive-direction{
  flex-direction: column;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-even{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*home*/
.home-Wrapper{
  height: 100vh;
}
.btn-Margin-Horizontal{
  margin: $btn-Margin-Horizontal;
}
.btn-Margin-Vertical{
  margin: $btn-Margin-Vertical;
}
.btn-Padding-Rectangle{
  padding: $btn-Padding-Rectangle;
}
/*nav*/
nav{
  padding: 1rem $gutter;
  @media screen and (min-width: 35em) {
    padding: 2rem calc($gutter + 1rem);
  }
}
.photos-Wrapper, .about-Wrapper{
  margin:  0 $gutter;
}

