$home-display-text: 2.5rem;
$background-display-text: 43.5vw;
$primary-heading: 1.5rem;
$secondary-heading: 1rem;
$small-text: 1rem;
$mobile-dropdown-primary: 5rem;
$mobile-dropdown-secondary: 2rem;

.link, a{
    text-decoration: none;
}

.home-display-text{
    font-size: $home-display-text;
    letter-spacing: 0.1rem;
    @media screen and (min-width: 560px) {
        font-size: $home-display-text + 1rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $home-display-text + 1.75rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: $home-display-text + 2rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $home-display-text + 6rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $home-display-text + 9rem;
    }
}

.primary-Heading{
    font-size: $primary-heading;
    @media screen and (min-width: 560px) {
        font-size: $primary-heading + .25rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $primary-heading + .75rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: $primary-heading + .85rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $primary-heading + 2.5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $primary-heading + 3.5rem;
    }
}
.secondary-Heading{
    font-size: $secondary-heading;  
    @media screen and (min-width: 560px) {
        font-size: $secondary-heading + .25rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $secondary-heading + .65rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $secondary-heading + 1.5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $secondary-heading + 2.5rem;
    }
}

.small-text{
    font-size: $small-text;  
    @media screen and (min-width: 768px) {
        font-size: $small-text + .25rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $small-text + .5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $small-text + 1.5rem;
    }
}

.background-display-text{
    font-size: $background-display-text;
}

.mobile-dropdown-primary{
    font-size: $mobile-dropdown-primary;
}
.mobile-dropdown-secondary{
    font-size: $mobile-dropdown-secondary;
}