$home-display-text: 2.5rem;
$background-display-text: 46vw;
$primary-heading: 1.5rem;
$secondary-heading: 1rem;
$smallText: 1rem;

.link, a{
    text-decoration: none;
}

.home-display-text{
    font-size: $home-display-text;
    letter-spacing: 0.1rem;
    @media screen and (min-width: 560px) {
        font-size: $home-display-text + 1rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $home-display-text + 1.75rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: $home-display-text + 2rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $home-display-text + 6rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $home-display-text + 9rem;
    }
}

.primary-Heading{
    font-size: $primary-heading;
    @media screen and (min-width: 560px) {
        font-size: $primary-heading + .25rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $primary-heading + .75rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: $primary-heading + .85rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $primary-heading + 2.5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $primary-heading + 3.5rem;
    }
}
.secondary-Heading{
    font-size: $secondary-heading;  
    @media screen and (min-width: 560px) {
        font-size: $secondary-heading + .25rem;
    }
    @media screen and (min-width: 768px) {
        font-size: $secondary-heading + .65rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $secondary-heading + 1.5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $secondary-heading + 2.5rem;
    }
}

.smallText{
    font-size: $smallText;  
    @media screen and (min-width: 768px) {
        font-size: $smallText + .25rem;
    }
    @media screen and (min-width: 1920px) {
        font-size: $smallText + .5rem;
    }
    @media screen and (min-width: 2560px) {
        font-size: $smallText + 1.5rem;
    }
}

.background-display-text{
    font-size: $background-display-text;
}